/* General */
body {
    font-family: 'Source Sans Pro', sans-serif;
}
body h1{
    font-size: 65px;
    font-weight: 700;
}
body p {
    font-size: 18px;
}
.form-error {
    color: #c0392b;
}
.form-field-error {
    color: #c0392b;
}
.form-field-error-imdb-id {
    margin-top: -15px;
    margin-bottom: 10px;
}

#ohsnap {
    position: fixed;
    bottom: 5px;
    right:5px;
    margin-left: 5px;
    z-index:99;
}
.alert {
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
    padding: 15px;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    float: right;
    clear: right;
    background-color: white;
    font-size: 20px;
}
.alert-green {
    color: white;
    background-color: #27ae60;
}
.view-input {
    width: 525px;
}

/* Content */
.container .btn-top {
    margin-top: 20px;
}
.container #film-list {
    margin-top: 50px;
}
.container #film-list .film {
    display: inline-block;
    cursor: pointer;
}
.container #film-list .film img {
    width: 168px;
}
.dialog img {
    width: 185px;
}
.dialog h3 {
    margin-top: 10px;
}
.dialog p {
    font-size: 16px;
}
#plot {
    max-width: 100%;
    height: 75px;
}
#loading {
    background: url("../images/loading.gif") no-repeat;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 120px;
    height: 120px;
    display: none;
}